.sertitle{

margin-top: 20%;
      color:black;
      font-family: Papyrus, fantasy;
      font-weight: bolder;
      font-size: 20px;
      margin-left:5%;
      margin-right: 5%;
}
.serdes{
    margin-top: 10%;
      color:black;
     
      font-size: 15px;
      margin-left:5%;
      margin-right: 5%;
}